body {
  background-color: #dfdce3;
}
#main-nav {
  background-color: #29293C;
}

#page-content {
  h1, h2, h3, h4, h5 {
    color: #337ab7;
  }
  p {
    color: #29293C;
  }
}

label {
  color: #29293C;
  font-weight: bold;
}
